/* ==== 
 --------- (2.3) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
  border: 0px;
  outline: 0px;
}

.unset {
  max-width: unset;
}

.bg-img {
  @include background($theme-color, no-repeat, cover, center center);
}

.dir-rtl {
  direction: rtl;
}

.slick-slide {
  // margin: 0px 12px;

  img {
    display: inline-block;
  }
}

.slick-list {
  margin: 0px -12px;
}

/* the slides */
.slick-slide {
  & > div {
    margin: 0 12px;
  }
}
/* the parent */
.slick-list {
  margin: 0 -12px;
}

.section {
  padding: 120px 0px;
}

.section--space-top {
  padding-bottom: 0px;
}

.section--space-bottom {
  padding-top: 0px;
}

.section__row {
  margin-bottom: -30px;
}

.section__col {
  margin-bottom: 30px;
}

.section__cta {
  margin-top: 40px;
  text-align: center;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// section header
.section__header {
  text-align: center;
  margin-bottom: 54px;
  margin-top: -8px;

  .section__header-sub-title {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .section__header-title {
    margin-bottom: 20px;
  }

  .section__header-content {
    color: #f2f2f2;
  }
}

.section__header--secondary {
  margin-bottom: 54px;
  margin-top: -8px;

  h5 {
    color: $primary-color;
    margin-bottom: 20px;
  }

  .section__header--secondary__cta {
    text-align: right;
  }
}

// section content
.section__content,
.banner__content {
  margin-top: -8px;

  .section__content-sub-title,
  .banner__content-sub-title {
    margin-bottom: 20px;
    color: $primary-color;
  }

  .section__content-title,
  .banner__content-title {
    margin-bottom: 24px;
  }

  .section__content-text,
  .banner__content-text {
    margin-bottom: 20px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }

  .section__content-inner,
  .banner__content-inner {
    margin-top: 20px;

    ul {
      display: flex;
      align-items: center;
      row-gap: 15px;
      column-gap: 20px;
      flex-wrap: wrap;

      li {
        width: calc(50% - 10px);
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;

        i {
          color: $primary-color;
        }
      }
    }
  }

  .section__content-cta,
  .banner__content-cta {
    display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

// animations
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  30% {
    transform: rotate(-30deg) scale(0.8);
  }

  60% {
    transform: rotate(-90deg) scale(1.2);
  }

  70% {
    transform: rotate(0deg) scale(0.7);
  }

  100% {
    transform: rotate(120deg) scale(1);
  }
}

.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .cmn-button {
    @include box(40px);
    padding: 0px;
    border-radius: 5px;

    i {
      color: $primary-color;
    }

    &:hover {
      i {
        color: $white;
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;

  a {
    @include box(30px);
    border-radius: 5px;
    border: 1px solid rgba(12, 169, 64, 0.2);
    background-color: $white;
    font-size: 16px;

    i {
      color: $primary-color;
    }

    &:hover {
      background-color: $primary-color;

      i {
        color: $white;
      }
    }
  }
}

// play btn
.play-btn-wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  .video-main {
    position: relative;
    display: inline-block;
  }

  .video {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    @include box(50px);
    background: transparent;
    color: #fff;
    display: inline-block;
    background: #000000;
    z-index: 999;
  }
}

@keyframes play-waves {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5, 1.5);
    opacity: 0;
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}

.wave-1 {
  animation-delay: 0s;
}

.wave-2 {
  animation-delay: 1s;
}

.wave-3 {
  animation-delay: 2s;
}

.play-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .play-btn {
    @include box(50px);
    background-color: $primary-color;
    color: $white;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
      background-color: rgba(12, 169, 64, 0.4);
      animation: play-waves 3s ease-in-out infinite;
      animation-delay: 1s;
    }

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -2;
      background-color: rgba(255, 255, 255, 0.7);
      animation: play-waves 3s ease-in-out infinite;
    }
  }
}

.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #05441a;
  box-shadow: inset 0 0 0 6px #c3b4ba7d;
  border-radius: 50%;
  color: #fff;
  line-height: 45px;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  cursor: pointer;
  transition: all 1s;
  transform: translateY(100%);
  i {
    color: #fff;
  }
  &.active {
    bottom: 30px;
    transform: translateY(0%);
    box-shadow: inset 0 0 0 6px #c3b4ba7d;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  button,
  a {
    @include box(40px);
    border: 1px solid #0ca940;
    border-radius: 5px;
    background-color: $white;
    color: $theme-color;
    transition: $transition;

    &:hover {
      background-color: $primary-color;
      color: $white;
      border: 1px solid $primary-color;
    }
  }

  button {
    i {
      color: $primary-color;
      transition: inherit;
    }

    &:hover {
      i {
        color: $white;
      }
    }
  }
}

// custom selector
.selector {
  position: relative;

  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    background-color: rgba(12, 169, 64, 0.03);
    width: 100%;
    height: auto;
    line-height: 28px;
    padding: 11px 30px;
    border: 1px solid #ebebeb;
    border-radius: 5px;

    // TODO: media
    @media (max-width: 575px) {
      padding: 11px 40px 11px 16px;
      gap: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      pointer-events: none;
      border-bottom: 2px solid #999;
      border-right: 2px solid #999;
      height: 10px;
      width: 10px;
      right: 25px;
      top: initial;
      transform: rotate(45deg);
      margin-top: -6px;

      // TODO: media
      @media (max-width: 575px) {
        height: 10px;
        width: 10px;
        right: 15px;
      }
    }
  }
  ul {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 3px;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgb(68 68 68 / 11%);
    z-index: 9;

    li {
      cursor: pointer;
      span {
        padding: 5px 20px;
      }
      .selected {
        background-color: #f6f6f6;
        display: block;
      }

      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
}

/* ==== 
 --------- (2.3) global styles end ---------
 ==== */
