/* ==== 
 --------- (6.0) responsive styles start ---------
 ==== */

@media only screen and (max-width: 1799.98px) {
  // banner
  .banner {
    background-position: left -110px center, right -100px bottom, left top;
  }

  // about
  .about--secondary {
    .about--secondary__thumb {
      .about--secondary__thumb-experience {
        left: -6%;
      }
    }
  }
}

@media only screen and (max-width: 1720.98px) {
  // join club
  .join-club {
    background-position: right -200px top, left top;
  }

  .join-club--secondary {
    background-position: right -250px top, left top;
  }

  .banner--tertiary {
    background-image: url("/images/flag-alt.png"),
      linear-gradient(110deg, #fdfffa 48%, rgba(255, 255, 255, 0) 100%),
      url("/images/banner/banner-three.png");
    background-size: 120px, 100%, auto 100%;
  }

  .about--alt {
    background-size: 100px;
    background-position: left 20px bottom 20px;
  }
}

@media only screen and (max-width: 1619.98px) {
  .banner {
    background-position: left -110px center, right -200px bottom, left top;
  }

  // event
  .event--secondary {
    .event--secondary__slider-card--alt {
      padding: 20px;

      h3 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;

        span {
          font-size: 20px;
        }
      }

      p {
        margin-bottom: 10px;
      }

      .cmn-button {
        padding: 8px 24px;
      }
    }
  }
}

@media only screen and (max-width: 1499.98px) {
  .club {
    .club__thumb-experience {
      right: -5%;
    }
  }
}

@media only screen and (max-width: 1399.98px) {
  // header
  .header {
    .nav {
      padding: 27px 40px;
    }

    .nav__logo {
      img {
        max-width: 150px;
      }
    }

    .nav__menu-link {
      padding: 10px;
      font-size: 16px;
    }

    .nav__uncollapsed {
      gap: 16px;

      a {
        i {
          font-size: 20px;
        }
      }
    }

    .nav__uncollapsed-item {
      gap: 16px;
    }

    .cmn-button {
      padding: 10px 24px;
    }
  }

  .header--secondary {
    .nav {
      padding: 27px 0px 26px;
    }
  }

  // banner
  .banner {
    padding: 240px 0px;
    background-position: left -110px center, right -290px bottom, left top;
  }

  // secondary banner
  .banner--secondary {
    padding: 240px 0px 200px;
  }

  .banner--inner {
    padding: 180px 0px 80px;
  }

  // about

  .about {
    background-size: 100px;
    background-position: right 30px bottom 30px;
  }

  .about--tertiary {
    .about--tertiary__thumb-experience {
      padding: 20px 49px;
    }
  }

  // counter
  .counter {
    .counter__card {
      padding: 30px 12px;
    }
  }

  // join club
  .join-club {
    background-position: right -340px top, left top;
  }

  .join-club--secondary {
    background-position: right -420px top, left top;
  }

  .join--tertiary {
    .input-single {
      input,
      textarea {
        padding: 10px 16px;
      }
    }
  }

  // event
  .event {
    .event__single {
      gap: 16px;
    }

    .event__single-content {
      h3 {
        padding: 6px 20px;
        font-size: 30px;

        span {
          font-size: 20px;
        }
      }
    }
  }

  // shop
  .shop--secondary {
    .shop__card-thumb {
      max-width: 220px;
    }

    .shop__card {
      gap: 16px;
    }

    .shop__card-cta {
      gap: 12px;

      .cmn-button {
        padding: 8px 16px;
      }
    }
  }

  // training
  .training--tertiary {
    .training--tertiary__card {
      gap: 16px;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
    }

    .training--tertiary__card-thumb {
      max-width: 100%;
    }

    .training--tertiary__card-content {
      h5 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 24px;
      }
    }
  }

  // newsletter
  .newsletter {
    input {
      padding: 13px 12px;
    }
  }

  .cart {
    .cart__wrapper {
      .cart-item-info {
        flex-direction: column;
      }
    }
  }

  .payment-success {
    margin-top: 220px;
  }

  .authentication__wrapper {
    margin-top: 220px;
  }

  // club view
  .club-view {
    .join-club__thumb {
      .play-wrapper {
        left: 120px;
        bottom: 60px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .blog,
  .blog-details,
  .details,
  .shop--main {
    position: relative;
    .blog__wrapper,
    .blog-details__wrapper,
    .facility__details,
    .shop--main__inner,
    .sidebar {
      position: sticky;
      top: 140px;
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  // paragraph styles
  p,
  th,
  td,
  li,
  input,
  textarea,
  select,
  label,
  blockquote,
  span {
    font-size: 16px;
    line-height: 26px;
  }

  .primary-text {
    font-size: 20px;
    line-height: 30px;
  }

  .tertiary-text {
    font-size: 20px;
    line-height: 30px;
  }

  // link styles
  a,
  button {
    font-size: 16px;
  }

  // heading styles
  h1,
  .banner__content-title {
    font-size: 50px;
    line-height: 60px;
  }

  h2,
  .section__content-title,
  .section__header-title {
    font-size: 40px;
    line-height: 50px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
  }

  h4 {
    font-size: 26px;
    line-height: 36px;
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
  }

  //  header
  .header {
    top: 20px;

    .nav {
      padding: 17px 30px;
    }

    .nav__menu {
      position: fixed;
      top: 0px;
      left: 0px;
      bottom: 0px;
      min-width: 350px;
      max-width: 350px;
      height: 100vh;
      z-index: 99;
      overflow-x: clip;
      overflow-y: auto;
      padding: 40px 20px;
      background: $white;
      box-shadow: $shadow;
      transform: translateX(-110%);
      transition: 0.3s ease-in-out;

      &::-webkit-scrollbar {
        width: 0px;
      }
    }

    .nav__menu-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      gap: 20px;

      img {
        max-width: 130px;
      }

      .nav__menu-close {
        font-size: 30px;
        color: $theme-color;
      }
    }

    .nav__menu-active {
      transform: translateX(0px);
    }

    .nav__menu-items {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav__menu-item {
      width: 100%;
      margin-bottom: 5px;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
        margin-top: 0px;

        .cmn-button {
          width: 100%;
          justify-content: center;
        }
      }
    }

    .nav__menu-item--dropdown {
      .nav__dropdown,
      .nav__dropdown-child {
        position: static;
        transform: translateY(0px);
        padding: 20px;
        margin-top: 5px;
        display: none;
        opacity: 1;
        visibility: visible;
        min-width: 100%;
        background-color: rgba(12, 169, 64, 0.4);
        box-shadow: $shadow;

        li {
          margin-bottom: 14px;
        }
      }

      .nav__dropdown-item {
        color: #3b3b3b !important;
        border-bottom: 1px solid #3b3b3b60;

        &:hover {
          border-bottom: 1px solid #3b3b3b;
        }
      }

      .nav__dropdown-active {
        display: block !important;
        animation: atg 0.4s ease-in-out;
      }

      @keyframes atg {
        0% {
          transform: translateY(-10px);
        }

        100% {
          transform: translateY(0px);
        }
      }

      .nav__menu-link--dropdown {
        &:hover {
          color: #065621 !important;

          &::after {
            transform: rotate(0deg);
            color: #065621 !important;
          }
        }
      }

      .nav__menu-link--dropdown-active {
        color: #065621 !important;

        &::after {
          transform: rotate(180deg) !important;
          color: #065621 !important;
        }
      }

      .nav__menu-link-child {
        a {
          color: $theme-color !important;
          &:hover {
            color: $theme-color !important;
            &::after {
              color: $theme-color !important;
              transform: rotate(-90deg) !important;
            }
          }
          &::after {
            color: $theme-color !important;
            transform: rotate(-90deg) !important;
          }
        }
      }

      .nav__dropdown-child {
        left: 0px;
        top: 100%;
        right: 0px;
        width: 100%;
      }
    }

    .nav__menu-link {
      width: 100%;
      background-color: rgba(12, 169, 64, 0.2);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px;
      border-radius: 5px;
    }

    .social {
      display: flex;

      a {
        @include box(40px);
        border-radius: 5px;
      }
    }
  }

  .header-active {
    top: 0px;
  }

  .header--secondary {
    .nav {
      padding: 27px 0px 26px;
    }

    .nav__menu-item--dropdown {
      .nav__menu-link--dropdown {
        color: $white !important;

        &::after {
          color: $white !important;
        }

        &:hover {
          color: $white !important;

          &::after {
            color: $white !important;
          }
        }
      }

      .nav__menu-link--dropdown-active {
        color: $white !important;

        &::after {
          color: $white !important;
        }
      }

      .nav__dropdown-item {
        color: $white !important;
        border-bottom: 1px solid #ffffff50;

        &:hover {
          border-bottom: 1px solid #ffffff;
        }
      }
    }

    .nav__menu-logo {
      .nav__menu-close {
        color: $white;
      }
    }

    .nav__menu-active {
      background-color: #011006;
    }

    .social {
      a {
        background-color: transparent;
        border: 1px solid rgba(242, 255, 246, 0.32);

        &:hover {
          background-color: $white;

          i {
            color: $primary-color;
          }
        }

        i {
          color: $white;
        }
      }
    }

    .nav__menu-link-child {
      a {
        color: $white !important;
        &:hover {
          color: $white !important;
          &::after {
            color: $white !important;
            transform: rotate(-90deg) !important;
          }
        }
        &::after {
          color: $white !important;
          transform: rotate(-90deg) !important;
        }
      }
    }
  }

  .banner {
    background-position: left -110px center, right -170px bottom, left top;
  }

  // about
  .about--tertiary {
    .about--tertiary__thumb-experience {
      padding: 20px 40px;
    }
  }

  // counter
  .counter {
    .counter__card {
      .counter__card-thumb {
        @include box(60px);
        border-radius: 5px;

        i {
          font-size: 28px;
        }
      }
    }
  }

  // pricing
  .pricing {
    .pricing__card {
      .pricing__card-head__thumb {
        @include box(60px);
        border-radius: 5px;

        i {
          font-size: 28px;
        }
      }
    }

    .pricing__card-cta {
      margin-top: 30px;
    }
  }

  // testimonial
  .testimonial {
    &::before {
      background-size: 100px, 140px;
      background-position: left 30px bottom 30px, right 20px bottom 100px;
    }
  }

  // shop
  .shop {
    background-size: 100px;
  }

  // join
  .join--tertiary {
    background-position: right top;

    .section__content {
      padding: 40px 20px;

      h2 {
        margin-bottom: 32px;
      }
    }
  }

  .backdrop {
    display: block;
  }

  // banner secondary
  .banner--secondary {
    background-image: linear-gradient(
        110deg,
        #fdfffa 48%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/images/banner/banner-two.png");
  }

  // banner tertiary
  .banner--tertiary {
    background-image: url("/images/flag-alt.png"),
      linear-gradient(110deg, #fdfffa 48%, rgba(255, 255, 255, 0) 100%),
      url("/images/banner/banner-three.png");
    background-size: 70px, 100%, auto 100%;
  }

  // facility
  .facility {
    .facility__card {
      padding: 30px 16px;
    }
  }

  // event
  .event {
    .event__single {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      padding: 20px;
    }

    .event__single-thumb {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .event__single-content {
      h3 {
        font-size: 24px;

        span {
          font-size: 18px;
        }
      }
    }
  }

  .club--alt {
    .club__thumb-experience {
      right: 20%;
    }
  }

  // shop
  .shop--secondary {
    .shop__card-review {
      margin-top: 5px;

      i {
        font-size: 18px;
      }
    }

    .shop__card-cta {
      margin-top: 20px;
    }

    .shop__card-thumb {
      max-width: 180px;
    }
  }

  // gallery
  .gallery {
    .section__header-cta {
      margin-top: 24px;
    }
  }

  // checkout
  .checkout {
    .country-select {
      line-height: 26px;
    }

    .input-check {
      gap: 10px;

      input {
        @include box(16px);
        border-radius: 5px;
      }
    }
  }

  .payment-success {
    margin-top: 200px;
  }

  .blog-details__comment {
    .blog-comment-reply {
      .reply__form {
        .reply__form-inner {
          .cmn-button {
            padding-top: 18px;
            padding-bottom: 18px;
          }
        }
      }
    }
  }

  .support {
    &::before {
      height: 60%;
    }
  }

  .authentication__wrapper {
    margin-top: 200px;
  }

  .map-wrapper {
    iframe {
      max-height: 300px;
    }
  }

  // footer
  .footer {
    .footer__single {
      a {
        img {
          max-width: 150px;
        }
      }
    }
  }

  .header--secondary .nav__menu-item--dropdown .nav__menu-link-child a {
    color: $white !important;
    &::after {
      color: $white !important;
    }

    &:hover {
      color: $white !important;
      &::after {
        color: $white !important;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  // overview
  .overview {
    position: relative;
    top: -134px;
    margin-bottom: -134px;
    padding: 0px;
  }

  // club
  .club--secondary {
    .club--secondary__thumb {
      direction: rtl;
    }
  }
}

@media only screen and (max-width: 991.98px) {
  // global styles
  .section {
    padding: 100px 0px;
  }

  .section--space-top {
    padding-bottom: 0px;
  }

  .section--space-bottom {
    padding-top: 0px;
  }

  .unset {
    max-width: 75%;
    height: auto;
  }

  .dir-rtl {
    direction: ltr;
  }

  .section__header--secondary {
    .section__header--secondary__content {
      text-align: center;

      h5 {
        margin-bottom: 10px;
      }
    }

    .section__header--secondary__cta {
      text-align: center;
      margin-top: 20px;
    }
  }

  // header
  .header {
    .nav {
      box-shadow: $shadow;
    }

    .nav__menu {
      min-width: 300px;
      max-width: 300px;
    }

    .nav__bar {
      .icon-bar {
        background-color: $theme-color;
      }
    }
  }

  .header--secondary {
    .nav__bar {
      .icon-bar {
        background-color: $white;
      }
    }
  }

  // banner
  .banner {
    padding: 180px 0px 80px;
    background-image: radial-gradient(
        circle at left center,
        white 250px,
        transparent 250px
      ),
      linear-gradient(
        90deg,
        rgba(12, 169, 64, 0.1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    background-size: auto, auto;
    background-position: left -30px center, left top;
  }

  .banner--secondary {
    padding: 180px 0px 80px;
    background-image: linear-gradient(
        74deg,
        #fdfffa 70%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/images/banner/banner-two.png");
  }

  .banner--tertiary {
    background-image: url("/images/flag-alt.png"),
      linear-gradient(110deg, #fdfffae6 100%, rgba(255, 255, 255, 0) 100%),
      url("/images/banner/banner-three.png");
  }

  // about
  .about--tertiary {
    .about--tertiary__thumb {
      img {
        max-width: 75%;
      }
    }
  }

  // club
  .club {
    background-size: 100px;
    background-position: left 15px bottom 15px;
  }

  // join club
  .join-club {
    background-size: 0px, 100%;

    .join-club__form {
      margin-top: 30px;
    }
  }

  .testimonial--secondary {
    .quotation {
      i {
        font-size: 30px;
      }
    }
  }

  .testimonial--tertiary {
    background-size: 60px;
    background-position: right 40px bottom 40px;
  }

  // checkout
  .checkout {
    .input-group {
      flex-direction: column;

      .input-single {
        width: 100%;
      }
    }
  }

  // blog details
  .blog-details__inner {
    .blog-details__meta-footer {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // footer
  .footer {
    padding-top: 100px;

    .footer__single-logo {
      img {
        max-width: 150px;
      }
    }

    .copyright {
      p {
        text-align: center;
      }

      ul {
        justify-content: center;
        margin-top: 15px;
        gap: 40px;
        row-gap: 8px;
      }
    }
  }

  .cart {
    .cart-items-wrapper {
      tr {
        gap: 8px;
      }
    }
  }

  .facility__thumb {
    margin-bottom: 24px;
  }

  .facility__single {
    h2 {
      margin-bottom: 10px;
    }
  }

  .facility__overview {
    margin-top: 30px;
  }

  .facility__slider-wrapper {
    margin: 30px 0px;
    .facility__slider-single {
      .quotation {
        margin-bottom: 15px;
        i {
          font-size: 30px;
        }
      }

      .facility-review {
        margin-bottom: 15px;
        i {
          font-size: 20px;
        }
      }

      .testimonial__slider-card__author {
        margin-top: 15px;
      }
    }

    .facility__popup {
      margin: 30px 0px 20px;
    }
  }

  .training__details-inner {
    hr {
      margin: 24px 0px;
    }
  }

  .training__details-content {
    padding: 24px 10px 0px;

    h2 {
      margin-bottom: 10px;
    }

    .training__details-tab {
      margin-top: 20px;
    }
  }

  // scroll to top
  .progress-wrap {
    right: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .checkout {
    position: relative;

    .checkout__radio,
    .checkout__single-wrapper {
      position: sticky;
      top: 140px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  // paragraph styles
  .primary-text {
    font-size: 18px;
    line-height: 28px;
  }

  .tertiary-text {
    font-size: 18px;
    line-height: 28px;
  }

  // heading styles
  h1,
  .banner__content-title {
    font-size: 36px;
    line-height: 46px;
  }

  h2,
  .section__content-title,
  .section__header-title {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
  }

  h5 {
    font-size: 18px;
    line-height: 28px;
  }

  h6 {
    font-size: 16px;
    line-height: 26px;
  }

  // global styles
  .section {
    padding: 80px 0px;
  }

  .section--space-top {
    padding-bottom: 0px;
  }

  .section--space-bottom {
    padding-top: 0px;
  }

  .section__header {
    margin-bottom: 36px;

    .section__header-sub-title {
      margin-bottom: 10px;
    }

    .section__header-title {
      margin-bottom: 10px;
    }
  }

  .section__header--secondary {
    margin-bottom: 36px;
  }

  .section__content,
  .banner__content {
    .section__content-sub-title,
    .banner__content-sub-title {
      margin-bottom: 10px;
    }

    .section__content-title,
    .banner__content-title {
      margin-bottom: 10px;
    }

    .section__content-cta,
    .banner__content-cta {
      margin-top: 30px;
    }
  }

  .section__cta {
    margin-top: 30px;
  }

  .progress-wrap {
    @include box(40px);
    box-shadow: inset 0 0 0 8px #c3b4ba7d;
    line-height: 40px;

    &::before,
    &::after {
      @include box(40px);
      font-size: 12px;
    }
  }

  // header
  .header {
    .nav {
      padding: 19px 24px;
    }

    .nav__menu-item {
      width: 100%;
      margin-bottom: 5px;

      &:nth-last-of-type(1) {
        margin-top: 20px;

        .cmn-button {
          width: 100%;
          justify-content: center;
        }

        .cmn-button--secondary {
          margin-bottom: 16px;
        }
      }
    }

    .nav__bar {
      .icon-bar {
        width: 30px;
      }
    }
  }

  .header--secondary {
    .nav {
      padding: 23px 0px 24px;
    }

    .nav__menu-item {
      &:nth-last-of-type(1) {
        .cmn-button--secondary {
          border: 1px solid rgba(242, 255, 246, 0.32) !important;
          color: $white;

          &:hover {
            border: 1px solid $primary-color;
          }
        }

        .cmn-button {
          border: 1px solid $primary-color;
          background-color: transparent;

          &:hover {
            border: 1px solid rgba(242, 255, 246, 0.32);
            color: $white;
          }
        }
      }
    }

    .nav__bar {
      .icon-bar {
        width: 30px;
      }
    }
  }

  // banner
  .banner--inner {
    padding: 160px 0px 80px;

    .breadcrumb {
      margin-top: 10px;
    }
  }

  // buttons
  .cmn-button {
    padding: 10px 24px;
  }

  // club
  .club {
    background-position: right 15px bottom 20px;
  }

  // sponsor
  .sponsor {
    padding: 40px 0px;
  }

  // about
  .about {
    .about__thumb {
      .about__experience {
        @include box(220px);
        border: 5px solid $white;
        padding: 20px;

        p {
          line-height: 20px;
        }
      }

      .about__experience-thumb {
        @include box(30px);
        border-radius: 5px;
        margin-bottom: 18px;

        i {
          font-size: 16px;
        }
      }

      h3 {
        font-size: 30px;
        margin-bottom: 8px;
      }
    }
  }

  .about--secondary {
    .about--secondary__single {
      margin-top: 20px;
    }
  }

  // pricing
  .pricing--secondary {
    .toggle-plan {
      margin-top: 20px;

      a {
        padding: 8px 20px;
      }
    }
  }

  // facility secondary
  .facility--secondary {
    .section__header-cta {
      margin-top: 20px;
    }
  }

  // testimonial
  .testimonial {
    .testimonial__slider-card {
      padding: 30px 20px;

      .testimonial__slider-card__body-review {
        i {
          font-size: 20px;
        }
      }
    }
  }

  .testimonial--secondary {
    .quotation {
      i {
        font-size: 24px;
      }
    }
  }

  .facility__slider-wrapper {
    padding: 30px 12px;
    .cmn-button {
      display: none !important;
    }
  }

  .facility__overview {
    padding: 30px 16px !important;
  }

  .facility__overview-single {
    gap: 12px;
  }

  // cart
  .cart {
    .cart-items-wrapper {
      overflow-x: auto;

      table {
        min-width: 600px;
      }
    }

    .cart__wrapper-footer {
      flex-direction: column;
      align-items: flex-start;

      form {
        width: 100%;

        input {
          flex-grow: 1;
        }
      }
    }

    .cart__graph {
      ul {
        margin: 20px 0px;
      }
    }
  }

  .payment-success {
    margin-top: 180px;

    .payment-success__header {
      i {
        font-size: 40px;
      }

      h3 {
        margin: 20px 0px 10px;
      }
    }
  }

  // blog details
  .blog-details__inner {
    .blog-details__meta {
      padding: 20px 20px 0px;
    }
  }

  // footer
  .footer {
    padding-top: 80px;

    h5 {
      font-size: 22px;
      line-height: 32px;
    }

    .footer__single-content {
      margin-top: 15px;

      ul {
        li {
          margin-bottom: 8px;
        }
      }
    }

    .section__row {
      margin-bottom: -40px;
    }

    .section__col {
      margin-bottom: 40px;
    }

    hr {
      margin-top: 40px;
    }
  }

  .play-wrapper {
    .play-btn {
      @include box(40px);
      font-size: 14px;
    }
  }

  .blog-details__comment {
    margin-top: 40px;
    h4 {
      margin-bottom: 30px;
    }

    .blog-comment-single {
      flex-direction: column;
      gap: 16px;
    }

    hr {
      margin: 30px 0px;
    }
  }

  .contact {
    .contact__item-thumb {
      @include box(50px);
      border-radius: 5px;
      i {
        font-size: 24px;
      }
    }
  }

  .contact-form__inner {
    label {
      margin-bottom: 8px;
    }
  }

  .authentication__wrapper {
    margin-top: 180px;
    padding: 30px 20px;

    h4 {
      margin-bottom: 10px;
    }

    form {
      margin-top: 30px;
      p {
        margin-top: 20px;
      }

      label {
        margin-bottom: 10px;
      }
    }
  }

  .error__inner-content {
    margin-top: 30px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .pricing--tertiary,
  .pricing--secondary {
    .toggle-plan-alt {
      margin-top: 20px !important;
    }
  }
}

@media only screen and (max-width: 575.98px) {
  // paragraph styles
  .primary-text {
    font-size: 18px;
    line-height: 28px;
  }

  .tertiary-text {
    font-size: 18px;
    line-height: 28px;
  }

  // heading styles
  h1,
  .banner__content-title {
    font-size: 26px;
    line-height: 36px;
  }

  h2,
  .section__content-title,
  .section__header-title {
    font-size: 24px;
    line-height: 34px;
  }

  h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .section__content,
  .banner__content {
    .banner__content-inner,
    .section__content-inner {
      ul {
        flex-direction: column;
        align-items: flex-start;

        li {
          width: 100%;
        }
      }
    }
  }

  // pagination
  .pagination {
    gap: 8px;

    a,
    button {
      @include box(35px);
      border-radius: 5px;
    }
  }

  // header
  .header {
    .nav {
      padding: 22px 24px;
    }

    .nav__logo {
      img {
        max-width: 130px;
        height: 36px;
      }
    }
  }

  .header--secondary {
    .nav {
      padding: 26px 0px 27px;
    }
  }

  // banner
  .banner--secondary {
    background-image: linear-gradient(
        110deg,
        #fdfffae6 70%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/images/banner/banner-two.png");
  }

  .banner--tertiary {
    background-image: url("/images/flag-alt.png"),
      linear-gradient(110deg, #fdfffae6 100%, rgba(255, 255, 255, 0) 100%),
      url("/images/banner/banner-three.png");
    background-size: 30px, 100%, auto 100%;
  }

  .banner--inner {
    padding: 150px 0px 60px;

    .breadcrumb {
      .breadcrumb-item {
        padding-left: 21px;
        padding-right: 12px;
      }

      .active {
        padding-right: 0px;
      }
    }

    .banner--inner__content {
      h2 {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }

  // overview
  .overview {
    .overview__inner-card__icon {
      margin-bottom: 15px;
      @include box(50px);
      border-radius: 5px;

      i {
        font-size: 28px;
      }
    }

    h5 {
      margin-bottom: 4px;
    }
  }

  // about
  .about {
    .about__section-inner {
      margin-top: 24px;
      gap: 16px;
    }

    .about__section-inner__single {
      gap: 15px;
    }

    .about__section-inner__single-thumb {
      @include box(50px);
      border-radius: 5px;

      i {
        font-size: 24px;
      }
    }

    .about__section-inner__single-content {
      h5 {
        margin-bottom: 0px;
      }
    }

    .about__thumb {
      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  // forms
  .input-single {
    input,
    textarea {
      padding: 11px 16px;
    }
  }

  .input-group {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    .input-single {
      width: 100%;
    }
  }

  // cart
  .cart {
    .cart__wrapper {
      padding: 30px 20px;
    }

    .cart__graph {
      padding: 30px 20px;

      li {
        gap: 20px;
      }
    }
  }

  // checkout
  .checkout {
    .input-single {
      margin-bottom: 14px;

      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }

      label {
        margin-bottom: 6px;
      }
    }

    .country-select {
      padding: 11px 16px;

      &::after {
        right: 16px;
      }
    }
  }

  // payment
  .payment-success {
    .payment-success__inner {
      padding: 40px 20px;
    }

    .payment-success__body {
      padding: 30px 20px;

      li {
        flex-direction: column;
        gap: 6px;
        padding: 15px 0px;

        span {
          text-align: center;

          &:nth-last-of-type(1) {
            text-align: center;
          }
        }
      }
    }
  }

  // faq
  .faq {
    .faq__tab-single__inner {
      .accordion-item {
        .accordion-button {
          &::before {
            right: 20px;
            width: 30px;
            height: 30px;
            min-width: 30px;
          }

          &::after {
            width: 30px;
            height: 30px;
            min-width: 30px;
          }
        }

        .accordion-body {
          padding: 16px 20px;
        }
      }

      h5 {
        button {
          font-size: 16px;
          padding: 16px 20px;
        }
      }
    }
  }

  // blog
  .blog {
    .blog__content {
      padding: 20px 10px;
    }
  }

  // blog details
  .blog-details__inner {
    .blog-details__meta {
      padding: 20px 10px 0px;
    }
  }

  .blog-details__comment {
    padding: 30px 20px;

    .blog-comment-reply {
      .blog-comment-reply-inner {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;

        .reply__form {
          width: 100%;
          .reply__form-inner {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            textarea {
              width: 100%;
              border-radius: 5px;
              padding: 17px 24px;
            }

            .cmn-button {
              border-radius: 5px;
              padding: 10px 24px;
            }
          }
        }
      }
    }
  }

  .comment-form {
    h5 {
      margin-bottom: 20px;
    }
  }

  // sidebar
  .sidebar {
    .sidebar__single {
      padding: 30px 20px;
    }
  }

  .contact {
    .contact__item {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .support {
    .support__single-thumb {
      @include box(50px);
      border-radius: 5px;
      i {
        font-size: 24px;
      }
    }
  }

  .privacy-policy__inner {
    padding: 30px 20px;
  }

  .shop__sidebar {
    padding: 20px;

    .search_form {
      input {
        padding: 11px 12px;
      }
    }

    .product__cart {
      .product__cart-cta {
        gap: 12px;
        .cmn-button {
          font-size: 12px;
          padding: 6px 14px;
        }
      }
    }
  }

  .product-description__content-tab {
    #productReviews {
      flex-direction: column;

      .author-meta {
        gap: 20px;
        span {
          display: none;
        }
      }
    }
  }

  .event--secondary {
    .event--secondary__slider-card--alt {
      padding: 0px;

      h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 6px;
      }

      p {
        margin-bottom: 5px;
        font-size: 14px;

        i {
          display: none !important;
        }
      }

      h5 {
        font-size: 16px;
        margin-bottom: 5px;
      }

      .cmn-button {
        font-size: 14px;
        padding: 6px 16px;
      }
    }
  }
}

@media only screen and (max-width: 499.98px) {
  // shop
  .shop--secondary {
    .shop__card {
      flex-direction: column;
      max-width: 350px;
      margin: 0px auto;
      align-items: flex-start;
      padding: 20px;
    }

    .shop__card-info {
      padding: 0px;
    }

    .shop__card-thumb {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }

  // cart
  .cart {
    .cart__wrapper-footer {
      form {
        flex-direction: column;
        align-items: flex-start;

        input {
          border: 1px solid #ebebeb;
          width: 100%;
          border-radius: 5px;
          padding: 12px 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 424.98px) {
  .section__content,
  .banner__content {
    .banner__content-inner,
    .section__content-cta,
    .banner__content-cta {
      flex-direction: column;
      align-items: flex-start;

      .cmn-button {
        width: 100%;
        justify-content: center;
      }
    }
  }

  // banner
  .banner--secondary {
    background-image: linear-gradient(
        110deg,
        #fdfffae6 100%,
        rgba(255, 255, 255, 0) 100%
      ),
      url("/images/banner/banner-two.png");
  }

  .banner--tertiary {
    background-image: url("/images/flag-alt.png"),
      linear-gradient(110deg, #fdfffae6 100%, rgba(255, 255, 255, 0) 100%),
      url("/images/banner/banner-three.png");
    background-size: 30px, 100%, auto 100%;
  }

  // shop
  .shop {
    background-size: 30px;
    background-position: right 10px bottom 10px;

    .shop__card {
      .shop__card-info {
        padding: 20px 0px 0px;

        h5 {
          margin-bottom: 5px;
        }
      }

      .shop__card-review {
        padding: 0px;

        i {
          font-size: 20px;
        }
      }

      .shop__card-cta {
        padding: 0px;
        gap: 12px;

        .cmn-button {
          padding: 8px 20px;
        }
      }
    }
  }

  // about
  .about--secondary {
    .about--secondary__single {
      .row {
        display: block;

        .col-6 {
          width: 100%;
        }
      }

      .about--secondary__single-item {
        padding: 20px 16px;
        overflow: hidden;
      }
    }
  }

  .about--tertiary {
    .about--tertiary__thumb {
      img {
        max-width: 100%;
      }
    }

    .about--tertiary__thumb-experience {
      padding: 16px 30px;
      right: 4%;
    }
  }

  // sidebar
  .sidebar {
    .sidebar__item-single {
      gap: 12px;
      .sidebar__item-thumb {
        img {
          max-width: 120px;
        }
      }
      .sidebar__item-content {
        h6 {
          margin: 0px;
          font-size: 14px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  .support-form {
    form {
      flex-direction: column;
      align-items: center;
      padding: 20px 16px;
      gap: 16px;
      .input-single {
        width: 100%;
        input {
          border: 1px solid #ebebeb;
          border-radius: 5px;
        }
      }
    }
  }
}

/* ==== 
  --------- (6.0) responsive styles end ---------
  ==== */
